<% if chat_room.sender_id == current_user.id %>
  <li><%= link_to "Enter chat with #{chat_room.recipient.email}", chat_room_path(chat_room) %></li>
<% else %>
  <li><%= link_to "Enter chat with #{chat_room.sender.email}", chat_room_path(chat_room) %></li>
<% end %>
