
<%if $unread_messages_count != 0 %>
  <h1 class="text-center"> Messages ( <%= $unread_messages_count %> ) </h1>
<% else %>
   <h1 class="text-center"> Messages </h1>
<% end %>

<div class="container">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1 text-center">
        <p> User</p>
      </div>
      <div class="col-xs-6 text-center">
      <p> Last Message</p>
      </div>
      <div class="col-xs-2 text-center">
      <p> Upcoming Event</p>
      </div>
      <br>
  </div>

  <%= render @chat_rooms %>
<br>

</div>
