/* -------------------------------------
 * Fonts
 * ------------------------------------- */
 // Local fonts (uncomment following lines)
 @font-face {
   font-family: "Futura";
   src: font-url('Futura-Medium.ttf') format('truetype');
 }

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
$header-font: 'Cabin', sans-serif;

$base-font: 'Futura', sans-serif;



//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #EE6D66;
$turq: #3F8A91;
$off-white: #F9F8F8;
$light-grey: #C2CCCD;
$dark-grey: #707371;
$blue-grey: #9EB4BC;
$alt-grey: #D3D3D3;

// do not use...
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;


