.unread {
  border: 2px solid $turq;
  padding-top: 5px;
  position: relative;
}

.some-space {
  padding: 5px;
}


.chat-border {
  border: 1px dotted $light-grey;
  padding-top: 5px;
  position: relative;
}

.clear-header {
  margin-top: 1vmin;
  padding: 1vmin;
  h1, h2 {
    font-family: "Raleway";
    font-weight: lighter;
  }
  h1 {
    font-size: 4.5vmin;
  }
  h2 {
    font-size: 3.5vmin;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.bordered-chat {
  border: 2px solid RGBA(211, 211, 211, 0.1);
}

.padded-boxling {
  padding: 2.5vmin;
  a {
    font-size: 3vmin;
    &:hover {
      text-decoration: none;
    }
  }
  h1, h2 {
    font-family: "Raleway";
    font-weight: lighter;
  }
  h1 {
    font-size: 4.5vmin;
  }
}

.spaced-elements {
  display: block;
  padding: 2.5vmin;
  i {
    padding: 1vmin;
    font-size: 2.5vmin;
    color: $brand-success;
  }
}

.smaller-items {
  padding-left: 2.5vmin;
  padding-top: 1.5vmin;
  padding-bottom: 2.5vmin;
  i {
    padding: 1vmin;
    font-size: 2.5vmin;
    color: $brand-success;
  }
}

.messages {
  padding: 2vmin;
  display: flex;
  justify-content: space-between;
}

.message {
  display: flex;
  justify-content: space-between;
  .user_name {
    font-weight: bold;
  }
}

.clear-form {
  margin:auto;
  width: 70vw;
  margin-bottom: 25px;
}

.message {
  border-bottom: 1px solid RGBA(211, 211, 211, 0.1);
  padding: 3px;
}


#posts {
  // max-height: 450px;
  // overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}
.chatroom-container {
  margin: 20px;
  input {
    border: none;
    background: #f9f9f9;
  }
}
.chatroom-header {
  text-align: center;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  img {
    width: 60px;
    height: 60px;
  }
  background: #F3F3F3;
  h2 {
    font-size: 16px;
    margin-top: 10px;
  }
  h4 {
    margin-bottom: 0px;
  }
}

.posts-container {
  height: 350px;
  overflow-y: scroll;
  border-left: 1px solid #F3F3F3;
  border-right: 1px solid #F3F3F3;
}


.post-content {
  background: #dcdcff;
  width: 250px;
  border-radius: 0 10px 10px 10px;
  padding: 5px;
  p:last-child {
    font-size: 11px;
    opacity: 0.5;
  }
}
.post-box {
  display: flex;
  margin-top: 10px;
  &.my {
    flex-direction: row-reverse;
    .post-content {
      border-radius: 10px 0 10px 10px;
      background: #d1ffd1;
    }
  }
}




