.map-index{
  margin-top: 5px;
}

.container-index{
  padding-left: 30px;
  padding-right: 30px;
}

.sort-box{
  border-bottom: 2px solid $light-grey;
  margin-bottom: 10px;
  padding: 10px;
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
