.banner-event-title{
  color: $off-white;
}
.banner-sport-name{
  color: $brand-color;
}

.edit-delete{
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px;
  border-radius: 10px;
  .fa{
    padding: 5px;
    color: $off-white;
  }
}

.show-banner{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.colour-icon{
  color: $turq;
}

.grey-text{
  color: $blue-grey;
}

.buttons-show{
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.booking-button-show{
  padding: 10px;
  border: 2px solid $blue-grey;
  border-radius: 10px;
  background-color: $off-white;
}
