.map-index{
  margin-top: 5px;
}

.container-index{
  padding-left: 30px;
  padding-right: 30px;
}

.sort-box{
  border-bottom: 2px solid $light-grey;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  a:hover {
    text-decoration: none;
  }
}

.search-box{
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  h4 {
    cursor: pointer;
  }
}

.date_search{
  border: 1px solid $dark-grey;
  text-align: center;
  padding: 5px;
  margin: 5px, 0px;
  border-radius: 5%;
  background-color: $blue-grey;
}

.black-icon-right-small {
  font-size: 15px;
}

// .hide-me-map {
//   display: none;
// }
