.home-wrapper {
  background-color: RGBA(71, 75, 73, 1.00);
  padding: 30px;
  h2 {
    padding: 15px;
    color: #1A1C1B;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 2.7em;
  }
}

#sport-form {
  .form-control {
    background-color: #686B6A;
    border: none;
    height: 40px;
    border-radius: 5px;
  }
  padding-left: 50px;
}

#sports, #missing_player {
  height: 40px;
  background-color: #686B6A;
  border: none;
  color: #999999;
}

.sport-form-submit {
  display: block;
  margin: auto;
  margin-top: 25px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  background-color: #212221;
}

.home-container{
  width: 100vw;
  padding: 0;
  margin: 0;
}

.bigscreen-image-banner{
  height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .image-banner-contents {
    height: 100%;
    padding: 3vmin;
    background-color: rgba(255, 255, 255, 0.2);
    h1 {
      font-family: $base-font;
      border: 2px solid white;
      font-size: 6vmin;
      padding: 3vmin;
      margin: 0;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      margin-top: 20%;
    }
    .find-player-btn {
      margin-top: 30px;
      font-size: 2em;
      border-radius: 10px;
    }
  }
}
