/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

a:hover {
  text-decoration: none;
}


#slider {
  margin-left: 12.625em;
  width: 24.375em;
  margin-top: 5px;
}



form {
  #sports {
    background-color: white;
    color: $gray;
    height: 40px;
  }
  input {
    height: 45px;
    color: $gray;
  }
.date-picker {
  i {
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
  }
}
}

.search-bar{
  margin: auto;
  margin-top: 60px;
  margin-left: 70px;
}
