// ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
//     color:    red !important;
// }
// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//    color:    red !important;
// }
// ::-moz-placeholder { /* Mozilla Firefox 19+ */
//    color:    red !important;
//    opacity:  1;
// }
// :-ms-input-placeholder { /* Internet Explorer 10-11 */
//    color:    red !important;
// }

#sport-form {
  padding-left: 25px;
  padding-right: 25px;
.form-control {
  // background-color: #f5a7a3;
  border: none;
  border-radius: 2px;
  // color: white;
  }

  #sports, #missing_player {
    height: 40px;
    // background-color: #f5a7a3;
    border: none;
    // color: white;
  }

  .sport-form-submit {
    display: block;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
  }
}

.home-container{
  width: 100vw;
  padding: 0;
  margin: 0;
}

.bigscreen-image-banner {
  height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .image-banner-contents {
    height: 100%;
    padding: 3vmin;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      font-family: $base-font;
      // border: 2px solid white;
      font-size: 6vmin;
      padding: 3vmin;
      margin: 0;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      margin-top: 20%;
    }
    .find-player-btn {
      margin-top: 30px;
      font-size: 2em;
      border-radius: 10px;
    }
  }
}
