  <div class="clear-form new_message">
    <%= simple_form_for([conversation, message], remote: true) do |f| %>

    <%= f.input :body%>

    <div class="text-center">
      <%= f.submit class: "btn btn-primary" %>
    </div>

    <% end %>
  </div>


