   <div class="messages">
    <% conversation.messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
          <% if user.id == current_user.id %>
          <div class="row">
              <div class="col-xs-6 my-messages">
              <%= render 'message', user: user, message: message %>
              </div>
            </div>
          <% else %>
          <div class="row">
              <div class="col-xs-6 col-xs-offset-6 other-messages">
              <%= render 'message', user: user, message: message %>
              </div>
          </div>
          <% end %>
      <% end %>
    <% end %>
</div>

