<div class="container">
  <div class="row">
    <div class="col-xs-3 bordered-chat">
      <div class="col-xs-12">


        <div class="clear-header">
          <h1>Current chats</h1>
        </div>
      </div>

    <div class="padded-boxling">
      <% @conversations.each do |conversation| %>
        <div class="col-xs-12">
          <div class="spaced-elements"> <i class="fa fa-user-circle"></i>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <% if User.find(conversation.recipient_id).first_name? %>
            <%= link_to User.find(conversation.recipient_id).first_name, conversation_messages_path(conversation)%>
          <% else %>
            <%= link_to User.find(conversation.recipient_id).email, conversation_messages_path(conversation)%>
          <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
    </div>


    <div class="col-xs-9 chat-background">


  <%= render 'messages', conversation: @conversations[0] %>
   </div>


      <div class="padded-boxling text-center">
    <h1>Write a message</h1>
      </div>


  <%= render 'form', conversation: @conversations[0], message: @conversations[0].messages.new %>

  </div>
</div>




