<div class="show-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 50%), url(<%= image_path "sports-photos/#{@booking.event.sport.name}.jpg" %>); width: 100%; background-size: cover; height: 50vh; background-position: center;">
 <div class="container text-center">
   <h1 style="padding-top: 10vh; font-size: 50px">
     <span class="banner-event-title"> <%= @booking.event.title %> | </span>
     <span class="banner-sport-name"> <%= @booking.event.sport.name %> </span>
   </h1>
 </div>
</div>


  <%= render 'event_booker' %>

