<div class="footer">
  <div class="footer-items">
    <div class="footer-icon">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </div>
    <div class="footer-icon">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
    <div class="footer-icon">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>
  </div>
  <div class="footer-items">
    <div class="item">
      about us
    </div>
    <div class="item">
      help
    </div>
    <div class="item">
      contact us
    </div>
  </div>
</div>
