<div class="footer">
  <div class="footer-items">
    <div class="footer-icon">
      <%= link_to "https://www.facebook.com/catherine.r.oxley?fref=ts" do %>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <% end %>
    </div>
      <div class="footer-icon">
      <%= link_to "https://www.instagram.com/catherineoxley/" do %>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <% end %>
    </div>
        <div class="footer-icon">
    <%= link_to "https://twitter.com/catt2493" do %>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <% end %>
    </div>

    </div>

  <div class="footer-items">
    <div class="item">
      <%= link_to "about us", "https://bibiiii.github.io/profile/", class: "footer_link" %>
    </div>
    <div class="item">
      help
    </div>
    <div class="item">
      contact us
    </div>
  </div>
</div>
