<div class="bigscreen-image-banner hidden-xs" style="background-image: url('<%= image_path 'library/basketball.jpeg' %>'); background-attachment: bottom; background-size: cover; background-position: center;">
  <div class="image-banner-contents">
    <h1>Looking for team mates?</h1>
  </div>
</div>
