.card{
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-grey;
  height: 180px;
  padding: 20px;
  margin: 20px;
}

// .sport-image{
//   flex: 0 0 20%;
// }

// .right-side{
//   flex: 0 0 20%;
// }

.card-info{
  flex: 1 0 auto;
  margin-left: 20px;
}
