.cats-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.myFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.myFlex2 {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  span {
    margin-left: 5px;
  }
}

.flex-space-between {
  display: flex;
  // justify-content: space-between;
  padding: 2vmin;
  // align-items: center;
  .fa {
    padding-right: 20px;
  }
}

.flex-space-around {
  display: flex;
  padding: 2vmin;
  justify-content: space-around;
  align-items: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.flex-container-column-centered {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  justify-content: center;
}
