// Your footer style
.footer {
  background-color: $brand-color;
  height: 80px;
  // position: absolute;
  // bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
.fa {
  color: white;
}
.fa:hover {
  color: $turq;
}
}

.footer-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.item{
  margin: 10px;
}

.footer-icon{
  margin: 20px;
  font-size: 30px;
}

.footer_link {
  color: white
}

.footer_link:hover {
  color: $off-white
}
