<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= gravatar_for post.user %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><%= post.user.first_name %> at <%= post.timestamp %> says</span><br>
          <%= post.body %>
        </p>
      </div>
    </div>
  </div>
</div>
