<% if post.user.photo %>
  <% avatar_url = post.user.photo.path %>
<% elsif post.user.facebook_picture_url %>
  <% avatar_url = post.user.facebook_picture_url.gsub("square", "large") %>
<% else %>
<% avatar_url = "https://api.adorable.io/avatars/285/sportl.png" %>
<% end %>

<div class="post-box <%= (post.user == post.chat_room.sender) ? 'my' : '' %>">
  <%= cl_image_tag avatar_url, crop: :fill, responsive_placeholder: "blank", class: "avatar"%>
  <div class="post-content">
    <p> <%= post.body %> </p>
    <p> <%= post.timestamp %> </p>
  </div>
</div>

