<div class="container">
  <div class="row">
      <div class=" col-xs-offset-3 col-xs-6 my-messages">
          <span><%= post.body %> </span> <span> <%= post.user.first_name %> at <%= post.timestamp %></span>
      </div>
    </div>
</div>
