/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  a {
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: underline;
  }
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
