.banner {
  color: white;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: bottom;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.home-banner {
  width: 100vw;
  height: calc(100vh - 70px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .home-banner-caption {
    color: white;
    font-family: futura;
    .home-banner-typed, h1 {
      margin: 0;
    }
    .home-banner-typed {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      color: white;
      font-size: 1.5em;
      margin-bottom: 20px;
    }
    h1 {
      font-family: $base-font;
      box-shadow: inset 0px -14px $brand-success;
      letter-spacing: 0.1em;
      font-size: 6vmin;
    }
  }
}

.home-banner img {
  width: 100px;
  position: absolute;
  bottom: 90px;
  margin-left: -50px;
}
