.list-card{
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: $off-white;
  height: 20vmin;
  padding: 20px;
  position: relative;
  color: $dark-grey;
  width: 100%;
  border-bottom: 1px solid $light-grey;
  .fa{
    color: $turq;
  }
}

.card-info{
  flex: 1 0 auto;
  margin-left: 20px;
}

.card-top-line{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-time{
  color: $blue-grey;
  // display: flex;
  // align-items: column;
}

.card-details{
  color: $blue-grey;
}

.card-title{
  color: $brand-color;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-link-request {
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.sport-image{
  background-color: $turq;
  padding: 20px;
  border-radius: 50%;
}
