.edit-form {
  margin: 30px 0px;
}


.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
   background-color: $turq;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: $turq;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover {
    background: #31666b;
    text-shadow: none;
}

.datepicker .glyphicon-chevron-right {
  color: $brand-color;
}

.datepicker .glyphicon-chevron-left {
  color: $brand-color;
}

.form-box{
  background: white;
  padding: 10px 20px;
  margin: 50px 0px 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  h2{
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn{
    width: 100%;
    margin-bottom: 10px;
  }
  .btn-facebook{
    background-color: #3B5998;
    color: white;
  }
  .align-checkbox-forgotpass{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     align-items: flex-end;
  }
  .checkbox-remember{
    margin-bottom: -4px;
  }
}
 #user_remember_me {
  margin-top: -12px;
 }

