////////// profile cards //////////////////

.profile-card {
  // display:flex;
  flex-direction: column;
  // background-color: #9EB4BC;
  width: 100%;
  margin: 10px;
  padding-bottom: 15px;
}

.profile-card-header {
  background-color: #EEEFED;
  width: 100%;
  height: 10vmax;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profile-card-avatar {
  margin-bottom: -3em;
  img {
    width: 10vmax;
    height: 10vmax;
    // border: 5px solid #BDBDBD;
    border: 5px solid #9EB4BC;
    object-fit: cover;
  }
}

.profile-card-body {
  margin-top: 1.1em;
  height: 30vh;
  padding: 20px;
  text-align: center;
  color: white;
  p {
    font-family: "Cabin", sans-serif;
    color: #525F64;
  }
  .match-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.front, .back {
  background-color: #9EB4BC;
  box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.12);
}

////////// buttons ///////////

.accept-btn, .deny-btn {
  border-radius: 5px;
  border: none;
  color: white;
  font-family: "Cabin", sans-serif;
  &:hover {
    opacity: 0.8;
  }
}

.accept-btn {
  background-color: #3FA291;
}

.deny-btn {
  background-color: #EE6D66;
}

//////// accept/deny //////////

.accepted-sign, .denied-sign {
  border-radius: 5px;
  border: none;
  font-family: "Cabin", sans-serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  p {
    padding-top: 10px;
    color: white;
    font-size: 20px;
  }
}

.accepted-sign {
  background-color: #3FA291;
  color: white;
}

.denied-sign {
  background-color: #EE6D66;
  color: white;
}
